.apre {
    color:#012379;
    position: absolute;
    width: 1440px;
    height: 114px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #012379 0%, #70BAFF 100%);
}
.prof{
    position: absolute;
    width: 111px;
    height: 117px;
    left: 73px;
    top: -3px;

}

.oi {
    position: absolute;
    width: 678px;
    height: 39px;
    left: 410px;
   

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.des{
    position: absolute;
width: 339px;
height: 46px;
left: 18px;


font-family: 'M PLUS 2';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 46px;

color: #F5F5F5;

border: 1px solid #FFFAFA;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.body{
       background: #70BAFF;
}
.avataraluno{
    width:  100px;    
}

.menu {
        color:white;
        font-family: 'Lucida Sans';
        font-size: small; 
        font-size: 12px;
        position: absolute;
        width: 1440px;
        height: 27px;
        left: 0px;
        top: 114px;
    background:#012379;
    

}

.lista {
    font-family: 'Lucida Sans';
    font-size: small;     
    color:rgb(66, 56, 10);
    position: absolute;
    width: 1440px;
    height: 114px;
    left: 0px;
    top: 1020px;
}

footer{
    margin:auto;
    position: absolute;
    color:white;
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    
        left: -1px;
        top:914px;
        width: 1440px;
        height: 27px;
        
    background:#012379;
}


.itens {
   
    position: absolute;
    width: 1454px;
    height: 762px;
    left: -6px;
    top: 147px; 
}

.lista{
    font-family: 'Lucida Sans';
    font-size: small; 
    text-align: left;
    font-size: 12px;
    color:#012379;
    
    position: absolute;
    
    background: linear-gradient(180deg, #70BAFF 10%, #012379 63%);
    width: 1440px;
    height: 114px;
    left: -2px;
    top: 941px;
}

   