.avataraluno{
    width:  100px;    
}

.prof{
    /*width: 25%;   */
    position: absolute;
width: 111px;
height: 117px;
left: 73px;
top: -3px;

}

body{
    background-color:rgba(160, 149, 100);
    font-family: 'Lucida Sans';
    font-size: small; 
    color: #fdfdfd;
    text-align: center;
    display: inline;
    font-size: 14px;
}
h3{
    
    font-family: 'Lucida Sans';
    font-size: small; 
    color: #fdfdfd;
    text-align: center;
    display: inline;
    font-size: 14px;
       
}
.linha {
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    /*background-color:rgb(66, 56, 10);*/

    position: absolute;
width: 1440px;
height: 114px;
left: 0px;
top: 910px;

background: linear-gradient(180deg, rgba(66, 56, 10, 0) 0%, #42380A 57.29%);
}

.menu {
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    background-color:rgb(66, 56, 10);
}
.lista {
    font-family: 'Lucida Sans';
    font-size: small; 
    text-align: left;
    font-size: 12px;
    color:rgb(66, 56, 10);
}
.bloco {
    display: block;
}
.itens {
    background-color: rgb(211, 204, 174);
}
.apre {
color:rgb(66, 56, 10);

position: absolute;
width: 1440px;
height: 114px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #42380A 37.5%, rgba(66, 56, 10, 0) 100%);
}